body{
    background-image: url('fundo.jpg');
    background-size: cover;
}

h1{
    background-image: url('fundo.jpg');
    justify-content: center;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  
    top: 0;
    right: 0;
    left: 0;
    bottom: 1000;
}

.grandeClass{
    padding: 250px;
}

img{
    display: block;
    margin: 0 auto;
    border: 5px solid transparent;
}

img.vermelho
{
    border-color: red;
}

img.amarelo
{
    border-color:yellow;
}

img.azul
{
    border-color: rgb(255, 0, 0);
}

#centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    border:10px solid rgb(223, 0, 0);
    color: rgb(0, 0, 0);
    flex-direction: column;
    padding: 15px 20px; 
    border-radius: 10px; 
}

#btnN {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    flex-direction: column;
    width: 30;
}

.btnN:hover {
    background-color: #45a049;
}

a{
    text-decoration: none;
    scroll-behavior: smooth;
}

.centradoTitulo{
    text-align: center;
    font-family:fantasy;
    font-size: 40px;
}

#btnLoginCadastro{
    background-color: #ff2e2e; 
    color: rgb(255, 255, 255); 
    padding: 15px 25px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    float:right;
}

.menu{
    background-color: #ff3939; 
    color: white; 
    padding: 15px 25px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 20px;
}

.menu:hover{
    background-color: #ff5a5a;
}

#cine{
    background-color: #ff0000; 
    color: white; 
    padding: 35px 45px; 
    border: none;
    border-radius: 30px; 
    cursor: pointer; 
    font-family:fantasy;
    font-size: 40px;
}

#cinez{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 54px;

    justify-content: center;
    border: 2px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#imagem{
    width: 100%;
    scroll-snap-align: center;
}

#imagemDestaque{
    width: 100%;
    scroll-snap-align: center;
}

.scale {
    transform: scale(0.9);
    transition: transform 0.5s ease;
    background-color: #ff3939; 
    color: white; 
    padding: 5px 10px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 10px;
}

.scale:hover {
    transform: scale(1);
}

#botaoOcultar{
    background-color: #ff3939; 
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    float:right;
}

.botaoOcultar:hover{
    background-color: #ff5a5a;
}

#btnLoginCadastro:hover{
    background-color: #ff5a5a;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}
.image-row img {
    
    object-fit: cover;
}

.conteiner {
    text-align: center;
    margin: 20px;
}
.assento{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ddd;
    border: 1px solid #999;
    cursor: pointer;
}
.assento.selecionado{
    background-color: #ff2003;
}
.assento.ocupado{
    background-color: #444;
    cursor: not-allowed;
}
.assento-conteiner{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}